@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

$barlow-condensed: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", serif;
$barlow: "Barlow", sans-serif;

$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$white: #ffffff;

h1 {
    font-family: $bellefair;
    font-size: 9em;
}
h2 {
    font-family: $bellefair;
    font-size: 6.25em;
}

h3 {
    font-family: $bellefair;
    font-size: 3.5em;
}

h4 {
    font-family: $bellefair;
    font-size: 2em;
}

h5 {
    font-family: $barlow-condensed;
    font-size: 1.75em;
    letter-spacing: 0.25em;
}

h6 {
    font-family: $bellefair;
    font-size: 1.75em;
}

.text7 {
    font-family: $barlow-condensed;
    font-size: 0.875em;
    letter-spacing: 0.125em;
}

.text8 {
    font-family: $barlow-condensed;
    font-size: 1em;
    letter-spacing: 0.125em;
}

p {
    font-family: $barlow;
    font-size: 1.125em;
}